@import 'src/styles/layout/default-layout';
@import 'src/styles/base/variables';


// Sider primary
.sider__add-dep {
  margin-top: 15px;
  text-align: center;
  a {
    width: 100%;
  }
  &:hover {
    background: none;
  }
}

// Sub menu
.sub-menu--departments {
  margin-top: 10px;
}
