<div class="content-outer sections">

    <div class="sections__header">
        <button (click)="startGrade()" *ngIf="!isGrading && !isUpgrading" nz-button nzType="primary" nzSize="large">Начать грэйдинг</button>
        <button (click)="startUpgrade()" *ngIf="!isGrading && !isUpgrading" nz-button nzType="primary" nzSize="large">Поставить цель</button>
    </div>

    <nz-card style="width: 100%;">

        <nz-card-tab>
            <nz-tabset nzSize="large" [(nzSelectedIndex)]="tabIndex">
                <nz-tab *ngFor="let section of data.sections" [nzTitle]="section.name"></nz-tab>
            </nz-tabset>
        </nz-card-tab>

        <nz-list nzBordered *ngIf="!isGrading && !isUpgrading">
            <nz-list-item *ngFor="let item of data.sections[tabIndex].skills">
                <span nz-typography>{{ item.name }}</span>
                {{ item.value }}
            </nz-list-item>
        </nz-list>

        <form
                nz-form
                (ngSubmit)="gradeSubmit()"
                [formGroup]="gradeForm"
                *ngIf="isGrading"
        >

            <div formArrayName="sections">
                <div *ngFor="let section of sections.controls; let i=index" [formGroupName]="i">
                    <nz-list
                            nzBordered
                            *ngIf="tabIndex === i"
                            formArrayName="skills"
                    >
                        <nz-list-item
                                *ngFor="let skill of skills(i).controls; let j=index" [formGroupName]="j"
                        >
                            <nz-form-label>{{ data.sections[tabIndex].skills[j].name }}</nz-form-label>
                            <nz-form-control nzSpan="4" nzErrorTip="">
                                <input formControlName="value" nz-input type="number" />
                            </nz-form-control>
                        </nz-list-item>
                    </nz-list>
                </div>
            </div>

            <div class="form--footer">
                <button (click)="cancelGrade()" nz-button type="button">
                    Отменить
                </button>
                <button nz-button nzType="primary" type="submit">
                    Отправить
                </button>
            </div>

        </form>

        <form
                nz-form
                (ngSubmit)="upgradeSubmit()"
                [formGroup]="gradeForm"
                *ngIf="isUpgrading"
        >

            <div formArrayName="sections">
                <div *ngFor="let section of sections.controls; let i=index" [formGroupName]="i">
                    <nz-list
                            nzBordered
                            *ngIf="tabIndex === i"
                            formArrayName="skills"
                    >

                        <nz-list-item
                                *ngFor="let skill of skills(i).controls; let j=index" [formGroupName]="j"
                        >
                            <nz-form-label>{{ data.sections[tabIndex].skills[j].name }}</nz-form-label>

                            <nz-form-control nzSpan="8" nzErrorTip="">
<!--                                <input nz-input type="number" />-->
                                <div class="goal__inputs">
                                    <input nz-input type="number" formControlName="value" />
                                    <input nz-input type="date" formControlName="date" />
                                </div>
                            </nz-form-control>

                        </nz-list-item>

                    </nz-list>
                </div>
            </div>

            <div class="form--footer">
                <button (click)="cancelGrade()" nz-button type="button">
                    Отменить
                </button>
                <button nz-button nzType="primary" type="submit">
                    Отправить
                </button>
            </div>

        </form>

    </nz-card>

    <div *ngIf="isUpgradeComplete && !isUpgradeLoading" class="upgrade-results">
        <div class="upgrade-results__item">
            <div class="upgrade-results__item__name">
                <h3 nz-typography>Амир Жунусов</h3>
            </div>
            <div class="upgrade-results__item__list">
                <nz-list nzBordered>

                    <nz-list-item>
                        <h5 nz-typography>Angular</h5>
                        5
                    </nz-list-item>

                    <nz-list-item>
                        <h5 nz-typography>Git</h5>
                        4
                    </nz-list-item>

                </nz-list>
            </div>
        </div>
    </div>

    <ng-container *ngIf="isUpgradeLoading">
        <div class="upgrade-results">
            <div class="loading-container">
                <nz-spin nzSimple nzSize="large"></nz-spin>
            </div>
        </div>
    </ng-container>

</div>
