$app-primary: #FF6E31;
$app-secondary: #1890ff;
$app-selected-item: #1890ff;
$app-link-color: #000;

$border-radius-block: 12px;
$border-radius-0: 3px;
$border-radius-1: 7px;
$border-radius-2: 20px;

$gray-0: #f5f5f5;
$gray-1: #DEDEDE;
$gray-2: #C4C4C4;
$gray-3: #4E4E4E;
